#codeigniter 3
admin/application/config/config.php
admin/system/*
admin/application/config/database.php
application/config/config.php
application/config/database.php
assets/files/*
system/*
.htaccess
admin/.htaccess